# _Projekt z Zastosowanie języka Python - Tomasz Siedlecki oraz Artur Stankiewicz_

## Wprowadzenie
### Celem niniejszem pracy jest stworzenie wizualizacji przedstawiającej handel bilateralny pomiędzy krajami, zgodnym z naiwnym modelem grawitacyjnym. W tym celu, posłużyliśmy się bazą danych dostarczoną z innego przedmiotu - Handlu Międzynardowoego, zawierającą aż 7,918 * 10^6 rekordów.

### W tym celu wykorzystaliśmy biblioteki Pythona, takie jak:
- Numpy,
- Pandas,
- Seaborn,
- Matplotlib,
- Dash,
- oraz Plotly.

In [1]:
# Ten kod wczytuje powyżej wymienione biblioteki
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import plotly.express as px
import dash_bootstrap_components as dbc

# Dane oraz ich przychotowanie

### Do przygotownaia wizualizacji posłużymy się danymi pochodzącymi z [wpisz skąd]. Dane dotyczące wielkości handlu bilateralnego (tradevalue) podzielone są ze względu na lata (year), kraje (iso3_o oraz iso3_d) oraz kody produktów według (nace). Dane zawierają takie zmienne jak:
- kod ISO kraju raportującego (iso3_o),
- kod ISO kraju partnerskiego (iso3_d),
- rok (year),
- przepływ handlu (tradeflow). tradeflow==1 oznacza eksport, a tradeflow==2 import,
- kody NACE produktów (nace),
- dystans pomiędzy dwoma krajami, mierzony jako środek goemetryczny (dist),
- PKB kraju raportującego (gdp_o),
- PKB kraju partnerskiego (gdp_d),
- oraz zmienne dodatkowe tj. oznaczenie przynależności do uniii (EU), wspólny język (comlang_off), wspólny kolonizator (comcol), wspólna granica geograficzna (contig) oraz obecność umowy pomiedzy krajami (rta), których nie bierzemy pod uwagę w analizie.
### W tej części:
- wczytujemy bazę danych,
- sprawdzamy jakie dane zawiera baza danych.

In [2]:
#Wczytujemy bazę danych i dokonujemy wstępnych oględzin danych
dane=pd.read_csv("dane_hm.csv")

In [3]:
#Sprawdzamy pierwsze 10 rekordów
dane.head(10)

,iso3_o,iso3_d,year,tradeflow,nace,tradevalue,dist,contig,comlang_off,comcol,gdp_o,gdp_d,rta,EU
0,BGD,ABW,2001,1,11,61.241001,15472.0,0.0,0.0,0.0,4.698784e+07,1920262.528,0.0,0
1,BGD,ABW,2001,1,153,30.775000,15472.0,0.0,0.0,0.0,4.698784e+07,1920262.528,0.0,0
2,BGD,ABW,2007,1,154,0.187000,15472.0,0.0,0.0,0.0,7.961189e+07,2623726.336,0.0,0
3,BGD,ABW,2002,1,155,101.364002,15472.0,0.0,0.0,0.0,4.757113e+07,1941094.912,0.0,0
4,BGD,ABW,2007,1,172,0.017000,15472.0,0.0,0.0,0.0,7.961189e+07,2623726.336,0.0,0
5,BGD,ABW,2000,1,175,0.090000,15472.0,0.0,0.0,0.0,4.712493e+07,1873452.544,0.0,0
6,BGD,ABW,2001,1,175,0.361000,15472.0,0.0,0.0,0.0,4.698784e+07,1920262.528,0.0,0
7,BGD,ABW,2015,1,182,0.010000,15472.0,0.0,0.0,0.0,1.950786e+08,NaN,0.0,0
8,BGD,ABW,2007,1,211,29.476999,15472.0,0.0,0.0,0.0,7.961189e+07,2623726.336,0.0,0
9,BGD,ABW,2001,1,221,0.040000,15472.0,0.0,0.0,0.0,4.698784e+07,1920262.528,0.0,0

In [4]:
#Oraz ostatnie 10 rekordów
dane.tail(10)

,iso3_o,iso3_d,year,tradeflow,nace,tradevalue,dist,contig,comlang_off,comcol,gdp_o,gdp_d,rta,EU
7918813,USA,ZWE,1999,2,748,15.962000,12539.0,0.0,1.0,0.0,9.660600e+09,6.858013e+06,0.0,0
7918814,USA,ZWE,2001,2,748,90.419998,12539.0,0.0,1.0,0.0,1.062180e+10,6.777384e+06,0.0,0
7918815,USA,ZWE,2002,2,748,174.341003,12539.0,0.0,1.0,0.0,1.097750e+10,6.342116e+06,0.0,0
7918816,USA,ZWE,1998,2,921,3.949000,12539.0,0.0,1.0,0.0,9.089200e+09,6.401968e+06,0.0,0
7918817,USA,ZWE,2002,2,921,8.422000,12539.0,0.0,1.0,0.0,1.097750e+10,6.342116e+06,0.0,0
7918818,USA,ZWE,1998,2,923,7.000000,12539.0,0.0,1.0,0.0,9.089200e+09,6.401968e+06,0.0,0
7918819,USA,ZWE,2001,2,923,14.600000,12539.0,0.0,1.0,0.0,1.062180e+10,6.777384e+06,0.0,0
7918820,USA,ZWE,2004,2,923,8.255000,12539.0,0.0,1.0,0.0,1.227490e+10,5.805598e+06,0.0,0
7918821,USA,ZWE,2014,2,923,87.500000,12539.0,0.0,1.0,0.0,1.739310e+10,1.583407e+07,0.0,0
7918822,USA,ZWE,2011,2,930,120.000000,12539.0,0.0,1.0,0.0,1.551790e+10,1.095623e+07,0.0,0

In [5]:
#Sprawdzamy jakie mamy zawarte dane w bazie danych
dane.keys()

Index(['iso3_o', 'iso3_d', 'year', 'tradeflow', 'nace', 'tradevalue', 'dist',
       'contig', 'comlang_off', 'comcol', 'gdp_o', 'gdp_d', 'rta', 'EU'],
      dtype='object')

In [6]:
#Sprawdzamy jakie mamy kraje raportujące oraz ile ich jest
print(dane['iso3_o'].unique())
len(dane['iso3_o'].unique())

['BGD' 'CAN' 'CZE' 'DEU' 'FRA' 'GBR' 'IND' 'ITA' 'JPN' 'KOR' 'LVA' 'NLD'
 'NOR' 'POL' 'PRT' 'RUS' 'TUR' 'USA']

18

In [7]:
#Sprawdzamy jakie mamy kraje partnerskie, czyli te, z którymi kraje raportujące handlują oraz ile ich jest
print(dane['iso3_d'].unique())
print(len(dane['iso3_d'].unique()))

['ABW' 'AFG' 'AGO' 'AIA' 'ALB' 'AND' 'ANT' 'ARE' 'ARG' 'ARM' 'ASM' 'ATG'
 'AUS' 'AUT' 'AZE' 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH'
 'BLR' 'BLZ' 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN' 'CCK'
 'CHE' 'CHL' 'CHN' 'CIV' 'CMR' 'COG' 'COK' 'COL' 'COM' 'CPV' 'CRI' 'CUB'
 'CUW' 'CXR' 'CYM' 'CYP' 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'ECU'
 'EGY' 'ERI' 'ESH' 'ESP' 'EST' 'ETH' 'FIN' 'FJI' 'FLK' 'FRA' 'FRO' 'FSM'
 'GAB' 'GBR' 'GEO' 'GHA' 'GIB' 'GIN' 'GMB' 'GNB' 'GNQ' 'GRC' 'GRD' 'GRL'
 'GTM' 'GUM' 'GUY' 'HKG' 'HND' 'HRV' 'HTI' 'HUN' 'IDN' 'IND' 'IOT' 'IRL'
 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM' 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ' 'KHM'
 'KIR' 'KNA' 'KOR' 'KWT' 'LAO' 'LBN' 'LBR' 'LBY' 'LCA' 'LKA' 'LSO' 'LTU'
 'LUX' 'LVA' 'MAC' 'MAR' 'MDA' 'MDG' 'MDV' 'MEX' 'MHL' 'MKD' 'MLI' 'MLT'
 'MMR' 'MNG' 'MNP' 'MOZ' 'MRT' 'MSR' 'MUS' 'MWI' 'MYS' 'NAM' 'NCL' 'NER'
 'NFK' 'NGA' 'NIC' 'NIU' 'NLD' 'NOR' 'NPL' 'NRU' 'NZL' 'OMN' 'PAK' 'PAN'
 'PCN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRK' 'PRT' 'PRY' 'PSE' 'PYF' 'QAT'
 'ROU' 'RUS' 'RWA' 'SAU' 'SDN' 'SEN' 'SGP' 'SHN' 'SLB' 'SLE' 'SLV' 'SMR'
 'SOM' 'STP' 'SUR' 'SVK' 'SVN' 'SWE' 'SWZ' 'SYC' 'SYR' 'TCA' 'TCD' 'TGO'
 'THA' 'TJK' 'TKL' 'TKM' 'TON' 'TTO' 'TUN' 'TUR' 'TUV' 'TWN' 'TZA' 'UGA'
 'UKR' 'URY' 'USA' 'UZB' 'VAT' 'VCT' 'VEN' 'VGB' 'VNM' 'VUT' 'WLF' 'WSM'
 'YEM' 'ZAF' 'ZMB' 'ZWE' 'BES' 'SPM' 'SSD' 'SXM' 'MCO' 'MYT']
226

### Krajów raportujących (18) jest znacznie mniej niż krajów partnerskich (226), dlatego nasza aplikacja skupiona jest na wybranych krajach. W celu uproszczenia analizy, postanowiliśmy zagregować dane po krajach i latach, aby przedstawić całą wielkość handlu pomiędzy dwoma krajami.

### W tej części:
- sprawdzamy czy w bazie danych występują brakujące dane oraz wybieramy zmienne losowe
- odfiltrowujemy dane

In [8]:
#Sprawdzamy czy baza danych zawiera brakujące wartości
if dane.isna().sum().sum() == 0:
    print('Baza danych nie zawiera missingów')
else:
    print('Baza danych ma braki')

Baza danych ma braki

In [9]:
#Wypełniamy brakuje wartości zerami i upewniamy się, że baza danych nie zawiera już brakujących wartości
dane.fillna(value=0, inplace=True)
if dane.isna().sum().sum() == 0:
    print('Baza danych nie zawiera missingów')
else:
    print('Baza danych ma braki')

Baza danych nie zawiera missingów

In [10]:
#Sumujemy wartości handlu bilateralnego bez rozróżnienia na kategorie produktu. Usuwamy dodatkowe zmienne losowe (wymienione powyżej)
df=dane.groupby(['iso3_o','iso3_d','tradeflow','year','gdp_o','gdp_d','dist'])['tradevalue'].sum().reset_index()

In [11]:
df

,iso3_o,iso3_d,tradeflow,year,gdp_o,gdp_d,dist,tradevalue
0,BGD,ABW,1,2000,4.712493e+07,1.873453e+06,15472.0,0.348000
1,BGD,ABW,1,2001,4.698784e+07,1.920263e+06,15472.0,190.481004
2,BGD,ABW,1,2002,4.757113e+07,1.941095e+06,15472.0,113.378002
3,BGD,ABW,1,2003,5.191366e+07,2.021302e+06,15472.0,138.978000
4,BGD,ABW,1,2005,6.027756e+07,2.331006e+06,15472.0,0.210000
...,...,...,...,...,...,...,...,...
170736,USA,ZWE,2,2016,1.856910e+10,1.628921e+07,12539.0,28121.407962
170737,USA,ZWE,2,2017,1.947962e+10,1.758489e+07,12539.0,34827.968048
170738,USA,ZWE,2,2018,2.052716e+10,1.811554e+07,12539.0,31233.566067
170739,USA,ZWE,2,2019,2.137257e+10,1.928429e+07,12539.0,33184.359854
170740,USA,ZWE,2,2020,2.089374e+10,1.805117e+07,12539.0,44787.666262

In [12]:
#Usuwamy potencjalne duplikaty w bazie danych. Łącznie usuniemy tym sposobem ponad 100 rekordów.
df=df[df['iso3_o']!=df['iso3_d']]

In [13]:
df

,iso3_o,iso3_d,tradeflow,year,gdp_o,gdp_d,dist,tradevalue
0,BGD,ABW,1,2000,4.712493e+07,1.873453e+06,15472.0,0.348000
1,BGD,ABW,1,2001,4.698784e+07,1.920263e+06,15472.0,190.481004
2,BGD,ABW,1,2002,4.757113e+07,1.941095e+06,15472.0,113.378002
3,BGD,ABW,1,2003,5.191366e+07,2.021302e+06,15472.0,138.978000
4,BGD,ABW,1,2005,6.027756e+07,2.331006e+06,15472.0,0.210000
...,...,...,...,...,...,...,...,...
170736,USA,ZWE,2,2016,1.856910e+10,1.628921e+07,12539.0,28121.407962
170737,USA,ZWE,2,2017,1.947962e+10,1.758489e+07,12539.0,34827.968048
170738,USA,ZWE,2,2018,2.052716e+10,1.811554e+07,12539.0,31233.566067
170739,USA,ZWE,2,2019,2.137257e+10,1.928429e+07,12539.0,33184.359854
170740,USA,ZWE,2,2020,2.089374e+10,1.805117e+07,12539.0,44787.666262

In [14]:
#Sprawdzamy jakie lata są dostępne
df['year']

0         2000
1         2001
2         2002
3         2003
4         2005
          ...
170736    2016
170737    2017
170738    2018
170739    2019
170740    2020
Name: year, Length: 170669, dtype: int64

In [15]:
#Wybieramy jako kraje partnerskie oraz kraje raportujące, te kraje, które pojawiły się w zbiorze krajów raportujących
reporterzy=df['iso3_o'].unique().tolist()
df=df[df['iso3_o'].isin(reporterzy) & df['iso3_d'].isin(reporterzy)].reset_index()
df

,index,iso3_o,iso3_d,tradeflow,year,gdp_o,gdp_d,dist,tradevalue
0,836,BGD,CAN,1,1998,4.409175e+07,6.314324e+08,12469.0,1.144015e+05
1,837,BGD,CAN,1,2000,4.712493e+07,7.394559e+08,12469.0,1.156217e+05
2,838,BGD,CAN,1,2001,4.698784e+07,7.327169e+08,12469.0,1.092481e+05
3,839,BGD,CAN,1,2002,4.757113e+07,7.525317e+08,12469.0,3.083367e+04
4,840,BGD,CAN,1,2003,5.191366e+07,8.877518e+08,12469.0,9.728947e+04
...,...,...,...,...,...,...,...,...,...
14600,169856,USA,TUR,2,2016,1.856910e+10,8.577490e+08,8087.0,6.491820e+06
14601,169857,USA,TUR,2,2017,1.947962e+10,8.589963e+08,8087.0,7.994561e+06
14602,169858,USA,TUR,2,2018,2.052716e+10,7.784719e+08,8087.0,8.145324e+06
14603,169859,USA,TUR,2,2019,2.137257e+10,7.610044e+08,8087.0,7.404207e+06
14604,169860,USA,TUR,2,2020,2.089374e+10,7.199548e+08,8087.0,7.665969e+06

In [16]:
#Sprawdzamy typ danych w poszczególnych kolumnach
df.dtypes

index           int64
iso3_o         object
iso3_d         object
tradeflow       int64
year            int64
gdp_o         float64
gdp_d         float64
dist          float64
tradevalue    float64
dtype: object

In [17]:
#Tworzymy nowy dataset z wielkością PKB w poszczególnych latach dla poszczególnych krajów raportujących, aby nie tworzyć drugiej mapy z krajami partnerskimi
gdp=df[['iso3_o','year','gdp_o']].sort_values(by=['iso3_o','year'])
gdp

      iso3_o  year         gdp_o
0        BGD  1998  4.409175e+07
16       BGD  1998  4.409175e+07
32       BGD  1998  4.409175e+07
48       BGD  1998  4.409175e+07
64       BGD  1998  4.409175e+07
...      ...   ...           ...
14512    USA  2020  2.089374e+10
14535    USA  2020  2.089374e+10
14558    USA  2020  2.089374e+10
14581    USA  2020  2.089374e+10
14604    USA  2020  2.089374e+10

[14605 rows x 3 columns]

# Tworzenie wizualizacji
### Przechodząc do części bardziej technicznej, stworzymy aplikację przy użyciu biblioteki Dash oraz repozytoriów GitHub (w celu utworzenia cetroidów)
### W tej części:
- pobierzemy centroidy z repozytorium GitHub
- tworzymy mapę
- wczytujemy dane do mapy

In [18]:
from dash_bootstrap_templates import load_figure_template
#dane zaciągnięte ze środowisk kodujacych i GitHub
country_centroids_data= {
    'iso3': ['BGD', 'CAN', 'CZE', 'DEU', 'FRA', 'GBR', 'IND', 'ITA', 'JPN',
             'KOR', 'LVA', 'NLD', 'NOR', 'POL', 'PRT', 'RUS', 'TUR', 'USA'],
    'name': ['Bangladesh', 'Canada', 'Czech Republic', 'Germany', 'France', 'United Kingdom', 'India', 'Italy', 'Japan',
             'South Korea', 'Latvia', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Russia', 'Turkey', 'United States'],
    'lat': [24.0, 60.0, 49.75, 51.1657, 46.2276, 55.3781, 22.0, 41.8719, 36.2048,
            35.9078, 56.8796, 52.1326, 60.4720, 51.9194, 39.3999, 60.0, 38.9637, 39.8283],
    'lon': [90.0, -95.0, 15.5, 10.4515, 2.2137, -3.4360, 79.0, 12.5674, 138.2529,
            127.7669, 24.6032, 5.2913, 8.4689, 19.1451, -8.2245, 90.0, 35.2433, -98.5795]
}
country_centroids=pd.DataFrame(country_centroids_data)
country_name_map = dict(zip(country_centroids['iso3'], country_centroids['name']))
country_centroids

   iso3            name      lat       lon
0   BGD      Bangladesh  24.0000   90.0000
1   CAN          Canada  60.0000  -95.0000
2   CZE  Czech Republic  49.7500   15.5000
3   DEU         Germany  51.1657   10.4515
4   FRA          France  46.2276    2.2137
5   GBR  United Kingdom  55.3781   -3.4360
6   IND           India  22.0000   79.0000
7   ITA           Italy  41.8719   12.5674
8   JPN           Japan  36.2048  138.2529
9   KOR     South Korea  35.9078  127.7669
10  LVA          Latvia  56.8796   24.6032
11  NLD     Netherlands  52.1326    5.2913
12  NOR          Norway  60.4720    8.4689
13  POL          Poland  51.9194   19.1451
14  PRT        Portugal  39.3999   -8.2245
15  RUS          Russia  60.0000   90.0000
16  TUR          Turkey  38.9637   35.2433
17  USA   United States  39.8283  -98.5795

In [19]:
import dash
import plotly.graph_objects as go
from dash import html, dcc, callback, Input, Output, State, Dash
import numpy as np
from scipy.stats import linregress

external_stylesheets = [dbc.themes.CYBORG]
app = Dash(external_stylesheets=external_stylesheets)

app.layout = dbc.Container([ #glowny container aplikacji
    #sekcja 1 - wybory lat oraz tradeflow
        html.Div(children="Interaktywny wykres dotyczący handlu, wartości PKB oraz exportu i importu", style={'textAlign': 'center', 'color': 'White', 'fontSize': 40}),
        html.Hr(style={'height':'20px', 'color':'white'}),
        dbc.Row([
            dbc.Col([ html.H3('Wybierz kierunek wymiany',style={'textAlign': 'center', 'color': 'White', 'fontSize': 20}),
                dcc.Dropdown( options=[ {'label': 'Eksport', 'value': 1},
                    {'label': 'Import', 'value': 2}], value=1, id='tradeflow-choice', style={'color': 'black', 'margin-bottom': '5px', 'display': 'block'}),
            ], width=12),
        ],style={'padding': '10px 5px'}),
        
        dbc.Row([ #sekcja 2- wykresy (mapa)
            dbc.Col([ 
                html.H3('Wybierz swoje 2 kraje do analizy', style={'textAlign': 'center', 'color': 'White', 'fontSize': 20}),
                dcc.Graph(figure={}, id='country-map'), 
                 html.Div(id='selected-countries-display', style={'color': 'White', 'margin-top': '15px', 'font-size': '1.1em'})
                ],width=12),
            ]),
        dcc.Store(id='selected-country-isos', data={'selected': [], 'reporting': None, 'partner': None}), #komponent z Gemini (przechowujacy nazwy kliknięte)
        dbc.Row([
               dbc.Col( html.H3('Wykresy GDP oraz wartości wymiany handlowej przez lata',style={'textAlign': 'center', 'color': 'White', 'fontSize': 20}), width=12)
            ]),
    
        dbc.Row([   
                    dbc.Col([ dcc.Graph(id='trade-comparison', style={'height': '400px', 'margin-top': '20px'})], md=6), #tradevalue
                    dbc.Col([ dcc.Graph(id='gdp-comparison', style={'height': '400px', 'margin-top': '20px'})], md=6) #gdp
            ]),
        dbc.Row([
               dbc.Col( html.H3('Wykres prostej regresji liniowej',style={'textAlign': 'center', 'color': 'White', 'fontSize': 20,'margin-top':'30px'}), width=12)
            ]),
        dbc.Row([
                    dbc.Col([dcc.Graph(id='regression-graph', style={'height':'500px', 'margin-top':'10px', 'align':'center'})], width=12)
            ])
            
], fluid=True)    
 
# callbacki - glowna mapa
@callback(
    Output('country-map', 'figure'),               # update mapy
    Output('selected-countries-display', 'children'), # tekst wyboru Gemini
    Output('selected-country-isos', 'data'),     # zachowane ISO
    Input('country-map', 'clickData'),             # element interaktywny
    State('selected-country-isos', 'data')       # wybrane elementy Gemini
)
def update_map_and_selection(clickData, stored_data):
    wybrane_iso = stored_data['selected']
    report_iso = stored_data['reporting']
    partner_iso = stored_data['partner']

    #korzystam z innej biblioteki do obrazów, jakoś lepiej wychodzą
    fig = go.Figure(go.Scattergeo(
        lon=country_centroids['lon'],
        lat=country_centroids['lat'],
        text=country_centroids['name'],
        customdata=country_centroids['iso3'],
        hoverinfo='text',
        mode='markers',
        marker=dict( #opcje markerów
            size=10,
            color='white', 
            line=dict(width=0.5, color='black')
        )
    ))

    fig.update_layout(
        geo=dict(
            showcountries=True,
            countrycolor='white',
            bgcolor='#222222', 
            projection_type='natural earth' #widok na całą ziemie, zagięty
        ),
        paper_bgcolor='#222222', #kolory dostosowane do wybranego THEME
        plot_bgcolor='#222222', 
        font_color='white', 
        margin={"r":0,"t":0,"l":0,"b":0} 
    )

#event kliknięcia - zagladam do wszystkich eventow w mojej apce, ale potrzebuje ekskluzywnie tych związanych z mapką, stąd pobieram prop_id (nazwe inputu) tak by zgadzała się z nazwą mapy
#sprawdzam clickData['0] bo chce przypisać dane z 1 klikniętego punkty dalej
    ctx = dash.callback_context 

    if ctx.triggered and ctx.triggered[0]['prop_id'] == 'country-map.clickData' and clickData: #element z Gemini, pomógł mi wybrać odpowiednio przechowane dane z clickData
        clicked_iso = clickData['points'][0]['customdata']

        if clicked_iso in wybrane_iso: #teraz, co się dzieje (możemy wybrać, odkliknąc klikając 2 raz ten sam kraj)
            wybrane_iso.remove(clicked_iso)
        else:
            if len(wybrane_iso) < 2: #gdy mamy mniej niz 2 elementy chcemy dodac nastepny klikniety
                wybrane_iso.append(clicked_iso)
            else:
                wybrane_iso = [wybrane_iso[1], clicked_iso] #gdy mamy dwa elementy rozne, zapisujemy nasza liste wyboru, dopisujac klikniete iso

        #element interaktywny który pomaga obrać kolejnościowo kto jest importerem a kto reporterem. Klikniecie 3 kraju oznacza podmiana kraju raportującego
        if len(wybrane_iso) == 1:
            report_iso = wybrane_iso[0]
            partner_iso = None
        elif len(wybrane_iso) == 2:
            report_iso = wybrane_iso[0]
            partner_iso = wybrane_iso[1]
        else: 
            report_iso = None
            partner_iso = None
            
    #aktualizacja kolorów markerów
    markery = []
    for iso in country_centroids['iso3']:
        if iso == report_iso:
            markery.append('red') 
        elif iso == partner_iso:
            markery.append('blue') 
        else:
            markery.append('white') 

    fig.data[0].marker.color = markery #komponent przypisujący kolory dynamicznie


    #update tekstu pod wykresem - Gemini pomógł w podstawowej funkcjonalności, dodatki opracowywałem sam
    teksty = []
    if report_iso:
        reporting_name = country_name_map.get(report_iso, report_iso)
        teksty.append(
            html.Span([
                html.B("Kraj raportujący: "),
                f" {reporting_name} ",
                html.Span("■", style={'color': 'red', 'font-size': '1.2em'})
            ])
        )
    #to samo ale dla partnerskiego kraju
    if partner_iso:
        partner_name = country_name_map.get(partner_iso, partner_iso)
        teksty.append(
            html.Span([
                html.B("Kraj partnerski:"),
                f" {partner_name} ",
                html.Span("■", style={'color': 'blue', 'font-size': '1.2em'})
            ], style={'margin-right':'30px'})
        )
    #funkcje, co jesli jeszcze nic nie zostało wybrane
    if teksty==[]: 
        teksty.append(html.Span("Wybierz kraj Raportujący", style={'color': 'gray'}))
    elif len(wybrane_iso) == 1:
        teksty.append(html.Span("Wybierz kraj Partnerski", style={'color': 'gray'}))

#dane z wyboru clickData, potrzebne w następnych elementach pracy
    updated_stored_data = {
        'selected': wybrane_iso,
        'reporting': report_iso,
        'partner': partner_iso
    }

    return fig, html.Div(teksty), updated_stored_data
# KONIEC MAPY
"""
W samym elemencie mapy, wsparłem się Gemini jako źródłem fajnych dodatków. Nakierował mnie on na możliwość dodania tekstów oraz pomógł z funkcjonalnością clickData. Rozwiązał równiez error związany z błędnym przekazywaniem listy jako całego argumentu do
hoverData zamiast tylko iso3 wybranych krajów z bazy country_centroids. Kilka uzytych promptów:
'I got an error (TraceBack erroru), regarding the TypeError: unhashable type: 'list'. Any ideas on what is wrong?'
'How can I store data from clicks on a dash, plotly map?'
'Any ideas on how to make the graph a little prettier visually?'
'My code is crashing when i click the third country. What can I do?'
'Can you explain ctx=dash.callback_context and how it works?'
"""



@callback(
    Output('trade-comparison', 'figure'),
    Output('gdp-comparison', 'figure'),
    Output('regression-graph','figure'),
    Input('selected-country-isos', 'data'),  # Triggered by map selection change
    Input('tradeflow-choice', 'value')       # Triggered by tradeflow dropdown change
)
def update_trade_gdp_charts(stored_data, selected_tradeflow_value):
    report_iso = stored_data['reporting']
    partner_iso = stored_data['partner']

    trade_fig=go.Figure() #pusta figura, z layoutem dostosowanym do stylesheet  
    trade_fig.update_layout(paper_bgcolor='#222222', plot_bgcolor='#222222', font_color='white',
        xaxis_title="Rok", yaxis_title="log of Trade")

    gdp_fig=go.Figure() #pusta figura, z layoutem dostosowanym do stylesheet
    gdp_fig.update_layout(paper_bgcolor='#222222', plot_bgcolor='#222222', font_color='white',
        xaxis_title="Rok", yaxis_title="log of GDP")

    regression_fig=go.Figure()
    regression_fig.update_layout(paper_bgcolor='#222222', plot_bgcolor='#222222', font_color='white',
        title='Simple regression model')

    
    if report_iso and partner_iso:
        reporting_name = country_name_map.get(report_iso, report_iso)
        partner_name = country_name_map.get(partner_iso, partner_iso)
        tradeflow_name = 'export' if selected_tradeflow_value == 1 else 'import'
    
        filtered_df = pd.DataFrame()
        if selected_tradeflow_value == 1: # Reporting Country is EXPORTER (iso3_o)
                filtered_trade_df = df[
                (df['iso3_o'] == report_iso) &
                (df['iso3_d'] == partner_iso) &
                (df['tradeflow'] == 1) # Ensure we pick the correct tradeflow type
            ].sort_values(by='year')
        elif selected_tradeflow_value == 2: # Reporting Country is IMPORTER (iso3_d)
            filtered_trade_df = df[
                (df['iso3_o'] == partner_iso) & # Partner exports
                (df['iso3_d'] == report_iso) & # Reporting imports
                (df['tradeflow'] == 2) # Ensure we pick the correct tradeflow type
            ].sort_values(by='year')

        
        trade_fig.add_trace(go.Scatter(x=filtered_trade_df['year'],
                    y=filtered_trade_df['tradevalue']))
            
        trade_fig.update_traces(mode='lines+markers')  
        trade_fig.update_yaxes(type='log', gridwidth=1, gridcolor='darkgrey')  # typ skali Y
        trade_fig.update_xaxes(showgrid=False)
        trade_fig.add_annotation(
                x=0, y=0.95, xanchor='left', yanchor='bottom',
                xref='paper', yref='paper', showarrow=False, align='left',
                text=f'<b>{reporting_name} and {partner_name} {tradeflow_name} value over time (log scale)<b>'
            )
        trade_fig.update_layout(height=400, margin={'l': 20, 'b': 30, 'r': 10, 't': 10})

        #pomocnicze dataframe
        gdp_report=gdp[gdp['iso3_o']==report_iso].sort_values(by='year')
        gdp_partner=gdp[gdp['iso3_o']==partner_iso].sort_values(by='year')
#wykres GDPs
        gdp_fig.add_trace(go.Scatter(x=gdp_report['year'],
                                     y=gdp_report['gdp_o'],
                                     line=dict(color='red')
                                    )
                             )
        gdp_fig.add_trace(go.Scatter(x=gdp_partner['year'],
                                    y=gdp_partner['gdp_o'],
                                    line=dict(color='blue')
                                    )
                             )
        
                
        gdp_fig.update_traces(mode='lines+markers')  
        gdp_fig.update_yaxes(type='log', gridwidth=1, gridcolor='darkgrey')  # typ skali Y
        gdp_fig.update_xaxes(showgrid=False)
        gdp_fig.add_annotation(
                x=0, y=0.95, xanchor='left', yanchor='bottom',
                xref='paper', yref='paper', showarrow=False, align='left',
                text=f'<b>{reporting_name} and {partner_name} GDPs over time (log scale)<b>'
                )
        gdp_fig.update_layout(height=400, margin={'l': 20, 'b': 30, 'r': 10, 't': 10}, showlegend=False)  

#regresja liniowa prosta
#Gemini pomógł mi w doborze bibliotek i zmergowaniu danych, reszte informacji zdobywalismy w internecie (np. https://realpython.com/linear-regression-in-python/#problem-formulation)
        merged=pd.merge(filtered_trade_df, gdp_report[['year', 'gdp_o']], on='year', how='inner', suffixes=('', '_reporting_gdp'))

        X=np.log(merged['gdp_o'])
        Y=np.log(merged['tradevalue'])
#sama regresja - mamy różne argumenty typowe dla regresji liniowej
        slope, intercept, r_value, p_value, std_err = linregress(X, Y)
#punkty do wykresu regresji
        x_reg = np.array([X.min(), X.max()])
        y_reg = slope * x_reg + intercept
        regression_fig.add_trace(go.Scatter(x=X,
                                    y=Y,
                                    mode='markers',
                                    marker=dict(color='blue'
                                    )
                             ))
        regression_fig.add_trace(go.Scatter(x=x_reg,
                                    y=y_reg,
                                    mode='lines',
                                    line=dict(color='yellow', dash='dash'
                                    )
                             ))
        regression_fig.update_layout(
                xaxis_title=f"Log of {reporting_name} GDP",
                yaxis_title=f'Log of {tradeflow_name} to / from {partner_name}',
                title=f'<b>Regression of Trade Value on {reporting_name} GDP with {partner_name}<b>',
                showlegend=False)
                                 
    else: #defaault messages, zanim wybierzemy kraje
        trade_fig.add_annotation(
            text="Select two countries first!",
            xref="paper", yref="paper", x=0.5, y=0.5, showarrow=False,
            font=dict(color="gray", size=20)
        )
        gdp_fig.add_annotation(
            text="Select two countries first!",
            xref="paper", yref="paper", x=0.5, y=0.5, showarrow=False,
            font=dict(color="gray", size=20)
        )

        regression_fig.add_annotation(
            text="No data provided",
            xref="paper", yref="paper", x=0.5, y=0.5, showarrow=False,
            font=dict(color="gray", size=20)
        )
                          
    return trade_fig, gdp_fig, regression_fig
        
# Run the app
app.run(mode='inline',port=8865, height=800, allow_duplicate=True)

# Funkcjonalność powyższej aplikacji
- aż 2 inputy: wybór krajów oraz import / eskport
- interaktywna mapa z możliwością wyboru krajów poprzez kliknięcie
- możliwość oddalenia, przesuwania oraz przybliżania mapy
- tworzenie 2 wykresów: 1. dotyczący wielkości handlu międzynarodowego oraz 2. składającego się z wielkości PKB wybranych krajów
- rysowanie prostej regresji liniowej